{% extends 'base_react.html.twig' %}

{% block title %}Instant-Chat{% endblock %}

{% block body %}
    <script type="application/json" id="mercure-url">
{{ mercure([])|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
</script>
    <div id="app">
    </div>
{% endblock %}
